<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadComponentPartial")

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    @await Component.InvokeAsync("_NavbarComponentPartial")
    @RenderBody()
    @await Component.InvokeAsync("_FooterComponentPartial")
</body>
</html>
