<section id="home-section" class="hero">
	<div class="home-slider owl-carousel">
		<div class="slider-item">
			<div class="overlay"></div>
			<div class="container-fluid px-md-0">
				<div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
					<div class="one-third order-md-last img" style="background-image:url('@Url.Content("~/clyde-master/images/bg_1.jpg")');">
						<div class="overlay"></div>
						<div class="overlay-1"></div>
					</div>
					<div class="one-forth d-flex  align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
						<div class="text">
							<span class="subheading">Merhaba, Ben YİĞİT!</span>
							<h1 class="mb-4 mt-3"> .NET Core <span>MVC</span> ile Web Uygulamaları Geliştiriyorum</h1>
							<p><a href="#" class="btn btn-primary">İletişim</a> <a href="#" class="btn btn-primary btn-outline-primary">CV</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-item">
			<div class="overlay"></div>
			<div class="container-fluid px-md-0">
				<div class="row d-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
					<div class="one-third order-md-last img" style="background-image:url('@Url.Content("~/clyde-master/images/bg_2.jpg")');">
						<div class="overlay"></div>
						<div class="overlay-1"></div>
					</div>
					<div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
						<div class="text">
							<span class="subheading">Uzmanlık Alanlarım</span>
							<h1 class="mb-4 mt-3">İhtiyacınıza Göre <span>Güvenli </span> Ve Kullanıcı Dostu Uygulamaları İçin Doğru Adres</h1>
							<p><a href="#" class="btn btn-primary">İletişim</a> <a href="#" class="btn btn-primary btn-outline-primary">CV</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>